-provide(:title, 'Guess Gender')
%h1 Let Us Pigeonhole Someone!

= form_tag('/guess', method: 'get') do
  = label_tag(:height, "Height (centimeters):", id: "height")
  = number_field_tag(:height, 0, min: 1)
  = label_tag(:mass, "Mass (kilograms):", id: "mass")
  = number_field_tag(:mass, 0, min: 1)
  %div.row
    %div.large-1.columns 
      = radio_button_tag(:units, "metric", checked=true)
      = label_tag(:units_metric, "Metric")
    %div.large-11.columns
      = radio_button_tag(:units, "American")
      = label_tag(:units_american, "American")
  = submit_tag("Pigeon Hole", class: "button radius")

:markdown
  Based on the latest scientific advancements in
  phrenology, reflexology, and astrology,
  I'll try to label a human as either male or female.


