-provide(:title, 'Guess Gender')
%h1 Let Us Pigeonhole Someone!

= form_tag('/guess', method: 'get') do
  = label_tag(:height, "Height:")
  = text_field_tag(:height)
  = label_tag(:mass, "Mass:")
  = text_field_tag(:mass)
  %div.row
    %div.large-1.columns= radio_button_tag(:units, "metric") 
    %div.large-1.columns= label_tag(:units_metric, "Metric")
    %div.large-1.columns= radio_button_tag(:units, "American")
    %div.large-9.columns= label_tag(:units_american, "American")
  = submit_tag("Pigeon Hole", class: "button radius")

:markdown
  Based on the latest scientific advancements in
  phrenology, reflexology, and astrology,
  I'll try to label a human as either male or female.


