!!! 5
!= cc_html(:lang => 'en') do
  %head
    %meta(charset='UTF-8')

    -# Set viewport width to device width for mobile
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  
    %title= content_for?(:title) ? yield(:title) : "Guess Gender"

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/custom.modernizr" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %body
      %nav.top-bar
        %ul.title-area
        %ul.left
          %li.divider
          %li.active 
            = link_to image_tag('logo.png', alt: "Gender Guess"), root_path
          %li.divider
        %ul.right
          %li.active
            = link_to "About", about_path
          %li.divider
          %li.active
            = link_to "Help", help_path

      %div.row
        -# Add some padding for big screens
        %div.large-1.columns
        %div.large-10.small-12.columns
          = yield
        %div.large-1.columns

      %div.row
        %h2 Footer

